<main>
  <div>
    <h1>Shooter 2D: Batalha Intergaláctica</h1>
    <iframe src="/assets/index.html"></iframe>
    <section>
      <div>
        <h4>Atirar</h4>
        <img src="/assets/images/mouse.png" alt="">
      </div>
      <div>
        <h4>Movimento 1</h4>
        <img src="/assets/images/wasd.png" alt="" class="mov">
      </div>
      <div>
        <h4>Movimento 2</h4>
        <img src="/assets/images/mov.png" alt="" class="mov">
      </div>
      <div>
        <h4>Menu</h4>
        <img src="/assets/images/esc.png" alt="">
      </div>
      <div>
        <h4>Ação</h4>
        <img src="/assets/images/e.png" alt="">
      </div>
    </section>
  </div>
  <button (click)="openModal()">
    Créditos
  </button>
</main>

<div class="modal-bg" *ngIf="modal"  (click)="closeModal($event)">
  <div class="modal-card">
    <h2>Créditos</h2>
    <ul>
      <h3>Equipe</h3>
      <li>Yan Gabriel Ferreira</li>
      <li>Marcus Vynicius Silva de Lemos</li>
    </ul>

    <ul>
      <h3>Desenvolvedor do Jogo</h3>
      <li>Yan Gabriel Ferreira</li>
    </ul>

    <ul>
      <h3>Criador da Startup</h3>
      <li>Marcus Vynicius Silva de Lemos</li>
    </ul>

    <ul>
      <h3>Consultoria</h3>
      <li>Professor Vitor</li>
    </ul>
  </div>
</div>
